
@{
    ViewData["Title"] = "SelectProject";
}

<form>
    <!-- DATE -->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" value="@DateTime.Now.ToString("d")" readonly />
            <span class="text-danger"></span>
        </div>
    </div>

    <!-- USERNAME (Student ID) -->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" />
            <span class="text-danger"></span>
        </div>
    </div>

    @model IEnumerable<ProjectPastel.Models.SponsoredProject>
    <!-- OPTION 1 -->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control">
                <option value="">Select a Project</option>
                @{
                    foreach (var item in Model)
                    {
                        <option value=item.Title>
                            @Html.DisplayFor(modelItem => item.Title)
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <!-- OPTION 2 -->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control">
                <option value="">Select a Project</option>
                @{
                    foreach (var item in Model)
                    {
                        <option value=item.Title>
                            @Html.DisplayFor(modelItem => item.Title)
                        </option>
                    }
                }
            </select>
        </div>
    </div>

    <!-- OPTION 3 -->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control">
                <option value="">Select a Project</option>
                @{
                    foreach (var item in Model)
                    {
                        <option value=item.Title>
                            @Html.DisplayFor(modelItem => item.Title)
                        </option>
                    }
                }
            </select>
        </div>
    </div>

</form>


